<%- contentFor('body') %>

<div class="container">
  <div class="card">
    <h5 class="card-header">Edit Contact</h5>
    <div class="card-body">
      <div class="mb-3">
        <form action="/edit" method="post">
          <% if (results.length > 0) { %> <% results.forEach(result => { %>
          <p class="text-danger"><%= result.msg %></p>
          <% }) %> <% } %>
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= data.name ? data.name : cont.name %>"
            required
          />
          <input
            type="hidden"
            class="form-control"
            id="oldName"
            name="oldName"
            value="<%= cont.name %>"
            required
          />

          <label for="phone" class="form-label mt-2">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            value="<%= data.phone ? data.phone : cont.phone %>"
            required
          />

          <label for="email" class="form-label mt-2">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="<%= data.email ? data.email : cont.email %>"
          />

          <button class="btn btn-primary mt-3" type="submit">
            Edit
            <input
              type="hidden"
              id="edit"
              name="edit"
              value="<%= cont.name %>"
            />
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
